.blog-post
  padding 35px 0

  .header
    margin-bottom 20px
    color $dgrey

  .title
    clearfix()
    margin-bottom 5px

    h3
      float left
      max-width 80%

      a
        color $dgrey
        text-decoration none

        &:hover
          text-decoration underline

    .date
      float right
      display block
      padding-top 5px
      font-size 0.9em
      color lighten($dgrey,10%)

  .categories
    font-size 0.9em
    font-style italic
    padding-left 20px
    color lighten($dgrey,10%)
