// Declare variables & mixins
$lgrey = #d8d8d8
$mgrey = #c6c6c6
$dgrey = #5c5c5c
$bordergrey = #979797
$white = #ffffff
$black = #000000
$blue = #4990e2

// css reset from nib
global-reset()
reset-html5()

// Set global/shared styles
body
  font-family arial,helvetica,sans-serif

h1
  font-size 2.2em

// Imports all component styles
@import 'components/**/*'
