<div class="page-view glossary">
  <header class="subheader">
    <h2>Glossary</h2>
    <div class="controls">
      <div class="search">
        <input type="text" placeholder="Search" ng-model="searchTerm">
        <button type="button" ng-click="filterGlossary">OK</button>
      </div>
      <at-lang-select model="language.selected"></at-lang-select>
    </div>
  </header>
  <main>
    <article class="glossary-item" ng-repeat="item in glossaryCollection | orderBy : 'title'" ng-show="(language.selected === '' || language.selected === item.lang)">
      <h3>{{item.title}}</h3>
      <div ng-bind-html="item.content"></div>
    </article>
  </main>
</div>
