.page-view.glossary

  header.subheader

    h2
      margin-bottom 20px

    .controls
      clearfix()

      .search
        float left

        button
          margin-left 10px

      select
        float right

  .glossary-item
    padding 35px 0

    h3.title
      color $dgrey
      margin-bottom 20px

    .content

      h3
        font-size 1.2em

      ol, ul
        list-style inherit
        padding-left 20px

      li
        margin-bottom 5px

      p, ol, ul
        margin-bottom 10px

      h1, h2, h3, h4, h5, h6
        margin 20px 0
