<div class="page-view glossary">
  <header class="subheader">
    <h2>Glossary</h2>
    <div class="controls">
      <div class="search">
        <form ng-submit="setTerm(searchTerm)">
          <input type="text" placeholder="Search" ng-model="searchTerm">
          <button type="submit">OK</button>
        </form>
      </div>
      <at-lang-select model="language.selected"></at-lang-select>
    </div>
  </header>
  <main>
    <article class="glossary-item" ng-repeat="item in glossaryCollection | orderBy : 'title' | filter : {title: activeSearchTerm}" ng-show="(language.selected === '' || language.selected === item.lang)">
      <h3 class="title">{{item.title}}</h3>
      <div class="content" ng-bind-html="transformLinks(item.content)"></div>
    </article>
  </main>
</div>
