.page-view.glossary

  header.subheader

    h2
      margin-bottom 20px

    .controls
      clearfix()

      .search
        float left

        button
          margin-left 10px

      select
        float right
